@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #242538;
    color: white;
}

a {
    color: #b9b9bd;
}

li {
    list-style: none;
}

.marTop {
    margin-top: 2%;
}

.redDanger {
    background-color: #ff0000;
    color: white;
}

.greenDanger {
    background-color: #02cc5a;
    color: white;
}

.footer {
    margin-top: 10% !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ------------------ Tables */
.tablecontainer {
    background: white;
    border-radius: 2%;
    margin: 2% 2% 10% 2%;
    padding: 20px 20px 40px 20px;
    color: black !important;
    font-weight: bold;
}

.tblBtn {
    max-width: 100px;
    float: right;
    display:inline-block;
    margin-bottom: 3%;
}


@media (max-width: 75rem) {
    .table__heading {
        display: none;
    }
    .table__content {
        display: block;
        padding: 0.5rem 0;
    }
    .table__row {
        margin: 0.25rem 1rem;
        padding: 0.5rem 0;
        display: block;
        border-bottom: 2px solid #f7fafc;
    }
    .table__content:before {
        content: attr(data-heading);
        display: inline-block;
        width: 10rem;
        margin-right: 0.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

/* // ------------------- Tables */

/* // Sidebar */
