* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a {
    color: black;
}
a:hover,
a:visited {
    color: inherit; /* Use the default text color on hover */
    text-decoration: none; /* Remove underline on hover */
}


// carousel start
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

// carousel end

// fixed banner start
.banner-card {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.banner-img {
    transition: transform 0.3s, filter 0.3s;
}

.banner-card:hover .banner-img {
    transform: scale(1.05); /* Increase the scale to expand a little */
    filter: grayscale(100%); /* Apply grey filter */
}

// end

// side menu start
@media (max-width: 767px) {
    .text-center {
        text-align: center;
    }
}
// end
