* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a {
    color: black;
}
a:hover,
a:visited {
    color: inherit; /* Use the default text color on hover */
    text-decoration: none; /* Remove underline on hover */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

// carousel start
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

// carousel end

// fixed banner start
.banner-card {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.banner-img {
    transition: transform 0.3s, filter 0.3s;
}

.banner-card:hover .banner-img {
    transform: scale(1.05); /* Increase the scale to expand a little */
    filter: grayscale(100%); /* Apply grey filter */
}

// end

// side menu start
.boldtxt {
    font-weight: 900 !important;
    font-size: 4rem !important;
}

@media (max-width: 767px) {
    .text-center {
        text-align: center;
    }
}
// end

// nav drop down menu START

#mynavbar {
    background: #ffe3fa !important;
    z-index: 9999 !important;
}

/* All */
#mynavbar-menu a {
    display: block !important;
    padding: 1rem !important;
    text-decoration: none !important;
    background: white !important;
    z-index: 9999 !important;
    font-weight: bold;
}

/* Top-level */
#mynavbar > #mynavbar-menu > li > a {
    display: inline-block !important;
    color: var(--blue-gray-100) !important;
    background: transparent !important;
    transition: background var(--transition-timing)
            var(--transition-timing-function),
        color var(--transition-timing) var(--transition-timing-function) !important;
    z-index: 9999 !important;
}

#mynavbar > #mynavbar-menu > li > a:hover,
#mynavbar > #mynavbar-menu > li > a:focus {
    background: #ffe3fa !important;
    color: black !important;
    z-index: 9999 !important;
}

#mynavbar-menu {
    display: flex !important;
    z-index: 9999 !important;
}

#mynavbar-menu,
#mynavbar-menu ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    z-index: 9999 !important;
}

/* Nested */
#mynavbar-menu ul {
    position: absolute !important;
    left: 0 !important;
    top: 100% !important;
    visibility: hidden !important;
    opacity: 0 !important;
    width: 14rem !important;
    box-shadow: 0 0.25rem 1.5rem hsla(200, 19%, 18%, 0.05) !important;
    transition: visibility 0s var(--transition-timing-function)
            var(--transition-timing),
        opacity var(--transition-timing) var(--transition-timing-function) !important;
    z-index: 9999 !important;
}

#mynavbar-menu ul a {
    color: var(--blue-gray-600) !important;
    transition: background var(--transition-timing)
            var(--transition-timing-function),
        color var(--transition-timing) var(--transition-timing-function) !important;
    z-index: 9999 !important;
}

#mynavbar-menu ul a:hover,
#mynavbar-menu ul a:focus {
    background: #ffe3fa !important;
    color: var(--blue-gray-900) !important;
    z-index: 9999 !important;
}

#mynavbar-menu ul > li > ul {
    left: 100% !important;
    top: 0 !important;
    z-index: 9999 !important;
}

#mynavbar-menu li {
    position: relative !important;
    z-index: 9999 !important;
}

/*
    HACK: Prevents box shadow from child dropdowns
    from overlapping its parent dropdown
*/
#mynavbar-menu li.has-children > a {
    position: relative !important;
    z-index: 9999 !important;
}

#mynavbar-menu li.has-children > a:after {
    position: absolute !important;
    content: "" !important;
    top: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 1rem !important;
    background: inherit !important;
    z-index: 999 !important;
    z-index: 9999 !important;
}
/* ENDHACK */

#mynavbar-menu li:hover > ul,
#mynavbar-menu li:focus-within > ul /* IE11+ only */ {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition-delay: 0s !important;
    z-index: 9999 !important;
}

// end

/* Common styles for both navbars */
.navbar {
    display: none; /* Initially hide both navbars */
}

/* Styles for larger screens */
@media screen and (min-width: 768px) {
    #mynavbar {
        display: block; /* Show the desktop navbar */
    }
    #myMobileNavbar {
        display: none; /* Hide the mobile navbar */
    }
}

/* Styles for smaller screens (mobile) */
@media screen and (max-width: 767px) {
    #mynavbar {
        display: none; /* Hide the desktop navbar */
    }
    #myMobileNavbar {
        display: block; /* Show the mobile navbar */
    }
}
/* Paginate */
.paginate {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
/* // Paginate */

/* detials page */
.detail-stock-green {
    display: inline-block;
    padding: 8px 12px;
    background-color: #28a745; /* Green background color */
    color: #1e2d1c; /* Darker green text color */
    border-radius: 25px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
}
.detail-stock-orange {
    display: inline-block;
    padding: 8px 12px;
    background-color: #ffc500;
    color: #de2702;
    border-radius: 25px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
}

.detail-size {
    display: inline-block;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; /* Rounded corners */
    margin-right: 10px; /* Adjust spacing between elements */
    cursor: pointer; /* Show pointer cursor on hover to indicate interactivity */
}

.social-icons i {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 10px; /* Adjust spacing between icons */
    cursor: pointer; /* Show pointer cursor on hover to indicate interactivity */
}

.minusBtn,
.plusBtn {
    display: inline-block;
    padding: 8px;
    background-color: lightgrey;
    color: black;
    font-size: 25px; /* Adjust the font size as needed */
    cursor: pointer;
}

.minusBtn {
    border-top-left-radius: 50%; /* Round only the top-left corner */
    border-bottom-left-radius: 50%; /* Round only the bottom-left corner */
    margin-right: -1px !important;
}
.plusBtn {
    border-top-right-radius: 50%; /* Round only the top-right corner */
    border-bottom-right-radius: 50%; /* Round only the bottom-right corner */
    margin-left: -16px !important;
}

.quantity {
    display: inline-block;
    padding: 8px;
    border: 1px solid lightgrey;
    background-color: lightgrey;
    font-size: 25px; /* Adjust the font size as needed */
}

.btn1 {
    display: inline-block;
    height: 50%;
    margin-top: 1%;
}
/* // detials page */
